<!DOCTYPE html>
<HTML LANG="ja">
<HEAD>
<META CHARSET="utf-8">
<META NAME="robots" CONTENT="nofollow">
<meta http-equiv="Content-Type" content="text/html">
<TITLE>ぱずぷれv3 操作方法</TITLE>
<link rel="stylesheet" href="./css/v3index.css?<%= pkg.version %>" type="text/css" />
<style type="text/css">
	div.sentence hr { margin-top:1.0em; margin-bottom:1.0em;}
	div.sentence h4 { margin-top:0.5em; margin-bottom:0.1em;}
	div.sentence p  { margin-top:0em; margin-bottom:0.8em;}
	div.sentence dl { margin-top:0em;}
	div.sentence dl dt { margin-top:0.3em; font-weight:bold; font-size:small;}
	div.sentence dl dd { margin-left:24px; font-size:small;}
	div.sentence dl dd span.brreq { color:red;}
	p.expression   { margin-left:0.5em;}
	p#expression_e { margin-bottom:1em;}
</style>
<script type="text/javascript" src="./js/pzpr.js?<%= pzpr.version %>"></script>
<script type="text/javascript" src="./js/v3index.js?<%= pkg.version %>"></script>
</HEAD>
<BODY>

<div class=main id=main>

<h2 id=title>ぱずぷれv3 操作方法</h2>

<div id="design1">

<!-- ////////////////////////////////////////////////////////////////////// -->

 <menu class="selector" id="puztypes">
  <li class="puzmenusel" id="puzmenu_expression" data-table='expression'>
    <span lang="ja">パズルの操作説明</span><span lang="en">How to Input the board</span>
  </li><li class="puzmenu" id="puzmenu_common" data-table='common'>
    <span lang="ja">操作説明</span><span lang="en">Common</span>
  </li><li class="puzmenu" id="puzmenu_menu1" data-table='menu1'>
    <span lang="ja">メニュー(ファイル・編集)</span><span lang="en">Menu (File, Edit)</span>
  </li><li class="puzmenu" id="puzmenu_menu2" data-table='menu2'>
    <span lang="ja">メニュー(表示・設定・その他)</span><span lang="en">Menu (Display, Setting, Other)</span>
  </li>
 </menu>

<br clear="all">

<!-- ////////////////////////////////////////////////////////////////////// -->

<div class="puztable" id="table_expression">
  <div class="sentence" id="main_puzzle_input">
   <h3 id="pzlname" style="margin-top:0.5em;"></h3>
   <h4 class="notice_item" id="h4_editor"><span lang="ja">問題の入力方法</span><span lang="en">Input Question</span></h4>
   <p class=expression id="expression_e">
   </p>
   <h4 class="notice_item" id="h4_player"><span lang="ja">解答の入力方法</span><span lang="en">Input Answer</span></h4>
   <p class=expression id="expression_p">
   </p>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////// -->

<div class="puztable" id="table_common">
  <div class="sentence" lang="ja">
   <h4>管理領域</h4>
   <p class=expression>
     メニュー項目の下、盤面の上に管理領域という部分があります。[設定]メニューなどから
     設定できる項目の一部はここからでも設定可能です。
   </p>
   <hr>
   <h4>共通マウス操作</h4>
   <p class=expression>
     各パズルは、マウスから数字や黒マス、境界線などを入力することができます。
     「数字・記号をパネルで入力する」のチェックボックスがonになっている場合は、
     ポップアップの数字をクリックすることでも数字などを入力することができます。
     詳細は各パズルの操作説明を参照してください。
   </p>
   <hr>
   <h4>共通キーボード操作</h4>
   <dl>
    <dt>数字キー</dt><dd>カーソルの位置に数字を入力する</dd>
    <dt>矢印キー or Alt+HJKLキー</dt><dd>カーソルを移動する</dd>
    <dt>-(マイナス)キー</dt><dd>問題入力モード時、カーソルの位置に？を入力したり消去する</dd>
    <dt>DELキー/Spaceキー</dt><dd>カーソルの位置の数字・文字を消去する</dd>
    <dt>Shift/Commandキーを押し続ける</dt><dd>マウスの左右のボタンを反転する</dd>
    <dt>Ctrl/Commandキー+Zキー</dt><dd>操作をUndoする</dd>
    <dt>Ctrl/Commandキー+Yキー</dt><dd>操作をRedoする</dd>
    <dt>Zキーを押し続ける</dt><dd>線や黒マスの色分け機能がある場合、クリックした部分を着色する</dd>
    <dt>Alt+Cキー</dt><dd>(エディタのみ)解答/問題入力モードを切り替える</dd>
    <dt>F2キー</dt><dd>(エディタのみ)解答入力モードへ移る</dd>
    <dt>Shift+F2キー</dt><dd>(エディタのみ)問題入力モードへ移る</dd>
    <dt>Ctrl+F8キー or Alt+Pキー</dt><dd>デバッグ用ウィンドウを表示する</dd>
   </dl>
  </div>
  <div class="sentence" lang="en">
   <h4>Management-Area</h4>
   <p class=expression>
     There is Management-Area between the menus and the board.
     Some features in 'Setting' menu are also able to be set here.
   </p>
   <hr>
   <h4>Mouse Usage</h4>
   <p class=expression>
     You are able to input numbers, shaded cells, borders, etc. by mouse or some pointer devices.
     If checkbox 'Input numbers by panel' is checked, you are able to input numbers or marks
     by displayed panel. Details are shown in each puzzle help menu.
   </p>
   <hr>
   <h4>Keyboard Usage</h4>
   <dl>
    <dt>Number keys</dt><dd>Input number at the cursor.</dd>
    <dt>Arrow keys or Alt + HJKL key</dt><dd>Move the cursor.</dd>
    <dt>-(minus) key</dt><dd>Input or Erase question marks at the cursor (in edit mode).</dd>
    <dt>DEL/Space key</dt><dd>Clear any objects at the cursor.</dd>
    <dt>BackSpace key</dt><dd>Erase one digit of a number at the cursor.</dd>
    <dt>Pressing Shift/Command key</dt><dd>Toggle Mouse Left/Right button.</dd>
    <dt>Ctrl/Command + Z key</dt><dd>Undo</dd>
    <dt>Ctrl/Command + Y key</dt><dd>Redo</dd>
    <dt>Pressing Z key</dt><dd>Emphasis connected line or shaded cells if the feature enabled.</dd>
    <dt>Alt + C key</dt><dd>(Editor only) Toggle edit or play mode.</dd>
    <dt>F2 key</dt><dd>(Editor only) Switch to edit mode.</dd>
    <dt>Shift + F2 key</dt><dd>(Editor only) Switch to play mode.</dd>
    <dt>Ctrl + F8 key or Alt + P key</dt><dd>Display debug popup.</dd>
   </dl>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////// -->

<div class="puztable" id="table_menu1">
  <div class="sentence" lang="ja">
   <h4>[ファイル]メニュー</h4>
   <dl>
    <dt>新規作成</dt><dd>指定したサイズの盤面を新規に作成します。現在の盤面は消去されます。</dd>
    <dt>URL入力</dt><dd>URLを入力して盤面を表示します。ぱずぷれ(v3/アプレット)、カンペン、
    へやわけアプレットに対応しています。現在の盤面は消去されます。</dd>
    <dt>URL出力</dt><dd>現在の盤面をWebで公開する為のURLを生成します。ぱずぷれv3、カンペン、
    へやわけアプレットのURLを出力することができます。</dd>
    <dt>ファイルを開く</dt><dd>ぱずぷれv3、pencilboxで出力されたファイルを開くことができます。
    現在の盤面は消去されます。</dd>
    <dt>ファイル保存</dt><dd>ぱずぷれv3形式、pencilbox形式のファイルを保存できます。</dd>
    <dt>ブラウザ保存</dt><dd>現在の盤面データをブラウザの記憶領域に保存しておくことができます。
    難易度やコメントも記録することができます。別ブラウザからは参照できません。</dd>
    <dt>画像を保存</dt><dd>現在の盤面の画像を別タブで開くか、画像としてpng形式もしくはSVG形式でダウンロードできます。
    カーソルは表示されません。</dd>
   </dl>
   <hr>
   <h4>[編集]メニュー</h4>
   <dl>
    <dt>履歴</dt><dd>UndoしたりRedoしたりできます。</dd>
    <dt>盤面</dt><dd>正答判定や解答の消去を行います。</dd>
    <dt>[盤面] - チェック</dt><dd>盤面の正答判定ができます。</dd>
    <dt>[盤面] - 解答消去</dt><dd>解答情報を全て消去します。</dd>
    <dt>[盤面] - 補助記号消去</dt><dd>補助記号を全て消去します。</dd>
    <dt>盤面の調整</dt><dd>盤面のサイズを調整します。上下左右方向のサイズを1ずつ増やしたり減らしたりできます。</dd>
    <dt>回転・反転</dt><dd>盤面の90°回転あるいは上下・左右の反転を行うことができます。</dd>
    <dt>盤面の複製</dt><dd>現在の盤面を複製します。履歴も複製されます。</dd>
   </dl>
  </div>
  <div class="sentence" lang="en">
   <h4>[File] Menu</h4>
   <dl>
    <dt>New Board</dt><dd>Create new board with set size. Current board is wiped out.</dd>
    <dt>Input URL</dt><dd>Import URL and display it. URL of PUZ-PRE (v3/applet), Kanpen and Heyawake-Applet
    are enabled if they supports. Current board is wiped out.</dd>
    <dt>Output URL</dt><dd>Export URL that is used for releasing on Web. URL of PUZ-PRE v3, Kanpen and
    Heyawake-Applet are enabled if they supports.</dd>
    <dt>Open the file</dt><dd>Open the file that is saved from PUZ-PRE v3 and pencilbox.
     Current board is wiped out.</dd>
    <dt>Save the file as ...</dt><dd>Save the PUZ-PRE v3 or pencilbox file.</dd>
    <dt>Browser Save</dt><dd>Save current board to browser storage with difficulty and comment.
    Just the same machine and browser is able to access the data.</dd>
    <dt>Save the Image</dt><dd>Open another tab and output the image of current board there or
    download it as png, svg, jpeg, gif or webp format. The cursor is hidden.</dd>
   </dl>
   <hr>
   <h4>[Edit] menu</h4>
   <dl>
    <dt>History</dt><dd>Undo or redo menu.</dd>
    <dt>Board</dt><dd>Check or erase the answer.</dd>
    <dt>[Board] - Check</dt><dd>Check the answer.</dd>
    <dt>[Board] - Erase answer</dt><dd>Erase the answer.</dd>
    <dt>[Board] - Erase auxiliary marks</dt><dd>Erase auxiliary marks.</dd>
    <dt>Adjust the board</dt><dd>Adjust the board size. Increase or decrease one step for four directions.</dd>
    <dt>Turn/Filp the board</dt><dd>Turn 90 degrees or X/Y-filp the board.</dd>
    <dt>Duplicate the board</dt><dd>Duplicate current board with history.</dd>
   </dl>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////// -->

<div class="puztable" id="table_menu2">
  <div class="sentence" lang="ja">
   <h4>[表示]メニュー</h4>
   <dl>
    <dt>表示サイズ</dt><dd>盤面の大きさを指定します</dd>
    <dt>[表示サイズ] - サイズ指定</dt><dd>盤面のサイズを指定します。セルのサイズをピクセル単位で入力します。</dd>
    <dt>[表示サイズ] - 表示倍率</dt><dd>「サイズ指定」で指定したサイズの拡大率を指定します。</dd>
    <dt>フォント</dt><dd>文字をゴシック体で描画するか、明朝体で描画するか指定します。</dd>
    <dt>線の色分け</dt><dd>線の自動色分け機能がついているパズルで、色分け機能の有効/無効を切り替えます。</dd>
    <dt>カーソルの表示</dt><dd>カーソルの表示/非表示を切り替えます。</dd>
    <dt>自動横幅調節</dt><dd>ウィンドウに入るように盤面のサイズを調節する機能の有効/無効を切り替えます。</dd>
    <dt>盤面の再描画</dt><dd>盤面全体を再描画します。数字がずれた時などに使用してください。</dd>
    <dt>管理領域を隠す/管理領域の表示</dt><dd>メニュー下のチェックボックスがある領域の表示/非表示を切り替えます。</dd>
   </dl>
   <hr>
   <h4>[設定]メニュー</h4>
   <dl>
    <dt>モード</dt><dd>(エディタ)問題入力モード、解答入力モードを切り替えます。</dd>
    <dt>入力方法</dt><dd>黒マスを入力するパズル等で、左右ボタンで黒マス/補助記号別々に入力するか、
    なし-&gt;黒マス-&gt;白マス-&gt;なしでループさせるか設定できます。シャカシャカはパズル個別の
    入力設定を参照してください。</dd>
    <dt>繋がりチェック</dt><dd>黒マス、線を入力するパズルでひと繋がりになった部分を表示するモードにします。
    Zキーを押し続けたのと同じ状態になります。</dd>
    <dt>正答自動判定</dt><dd>正解判定を自動で行い、正解になったら通知するようにします。</dd>
    <dt>マウス左右反転</dt><dd>マウスの左右ボタンを反転します。Shiftキーや、MacでCommandキーを押した時と
    同じ効果になります。</dd>
    <dt>パネル入力</dt><dd>マウスから数字・記号を入力する為のポップアップを表示します。</dd>
    <dt>盤面にキー入力</dt><dd>盤面をキー入力の対象に設定します。</dd>
    <dt>言語</dt><dd>言語を切り替えます。</dd>
    <dt>(その他)</dt><dd>そのほか、パズルによって様々な項目が追加されています。</dd>
   </dl>
   <hr>
   <h4>[その他]メニュー</h4>
   <dl>
    <dt>ぱずぷれv3について</dt><dd>creditやバージョンを表示します。</dd>
    <dt>操作説明</dt><dd>このページを開きます。</dd>
    <dt>リンク</dt><dd>指定したリンク先を別ウィンドウで開きます。</dd>
    <dt>デバッグ</dt><dd>デバッグ用ポップアップを表示します。</dd>
   </dl>
  </div>
  <div class="sentence" lang="en">
   <h4>[Display] menu</h4>
   <dl>
    <dt>Cell Size</dt><dd>Set canvas size by cell size.</dd>
    <dt>[Cell Size] - Cell Size</dt><dd>Set canvas size by the pixel size of the cells.</dd>
    <dt>[Cell Size] - Display size</dt><dd>Set canvas size by zoom ratio.</dd>
    <dt>Font</dt><dd>Set board font either sans-serif or serif.</dd>
    <dt>Encolor lines</dt><dd>If the puzzle has the feature, set individual color to lines feature enabled.</dd>
    <dt>Display cursor</dt><dd>Toggles to display the cursor on the board.</dd>
    <dt>Auto Size Fix</dt><dd>Set the feature that reduces the size in order to squeeze up the whole board.</dd>
    <dt>Repaint the board</dt><dd>Repaint the whole board.</dd>
    <dt>Show/Hide management area</dt><dd>Show/Hide the Management-Area.</dd>
   </dl>
   <hr>
   <h4>[Setting] menu</h4>
   <dl>
    <dt>Mode</dt><dd>(EDITOR) Change the mode whether edit ot play mode.</dd>
    <dt>Use</dt><dd>Change the mouse usage whether left/right click inputs each shaded or unshaded cells or
    loop empty-&gt;shaded cell-&gt;unshaded cell-&gt;empty if the puzzle need shaded cells.
    Shakashaka has special setting, so please refer the 'How to Input this puzzle'.</dd>
    <dt>Continueous Check</dt><dd>Set the mode that emphasis the continueous line or shaded cells.
    It has the same effect as pressing Z key.</dd>
    <dt>Automatically check</dt><dd>Check the asnwer automatically and notice if the board is complete.</dd>
    <dt>Flip mouse button</dt><dd>Set mouse left/right button inversed. It is the same state with perssing
    Shift key or Command key on Mac.</dd>
    <dt>Display panel</dt><dd>Display the popup in order to input numbers or marks by mouse directly.</dd>
    <dt>Key input to Canvas</dt><dd>Assign the canvas to target key input.</dd>
    <dt>Language</dt><dd>Set the PUZPRE v3 language.</dd>
    <dt>(others)</dt><dd>Some features are added in some puzzles.</dd>
   </dl>
   <hr>
   <h4>[Other] menu</h4>
   <dl>
    <dt>About PUZ-PRE v3</dt><dd>Show credit and script version.</dd>
    <dt>How to Use</dt><dd>Open this page.</dd>
    <dt>Link</dt><dd>Open in another window with clicked URL.</dd>
    <dt>Debug</dt><dd>Display the popup for debug.</dd>
   </dl>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////// -->

</div><!-- <div id="design1"> -->

</div>
</BODY>

<!-- ////////////////////////////////////////////////////////////////////// -->

<script type="text/javascript">
var expression_p="", expression_e="", dummypuzzle = null;
var langcode='ja', pid='', EDITOR=false, PLAYER=false;
window.pzprfaq = true;

function getEL(id){ return document.getElementById(id);}
function hideEL(id){ document.getElementById(id).style.display = "none";}
function setText(id,text){ document.getElementById(id).innerHTML = text;}

function addStr  (str){ expression_p += '<div style="line-height:140%;">'+str+'</div>';}
function addStr_e(str){ expression_e += '<div style="line-height:140%;">'+str+'</div>';}

function onload_func_FAQ(){
	var info = location.search.substr(1);
	if(!info){
		getEL('puzmenu_expression').style.display = 'none';
		v3index.click_tab('common');
	}
	else if(info.match(/_edit$/)){
		pid = info.slice(0,-5);
		EDITOR = true;
	}
	else{
		pid = info;
		PLAYER = true;
	}

	langcode = v3index.doclang;

	if(!!pid){
		for(var name in captions_play){
			if(captions_play[name].variety.indexOf(pid)>=0){ addStr  (captions_play[name][langcode]);}
		}
		for(var name in captions_edit){
			if(captions_edit[name].variety.indexOf(pid)>=0){ addStr_e(captions_edit[name][langcode]);}
		}
	}
	dispExpression();
}

function dispExpression(){
	var title = {ja:"ぱずぷれv3 操作方法", en:"PUZ-PRE v3 - How to Input"}[langcode];
	document.title = title;
	setText("title", title);

	if(EDITOR || PLAYER){
		document.getElementById('pzlname').innerHTML = pzpr.variety(pid)[langcode]
										+ {ja:"の操作方法", en:" - How to Input"}[langcode];

		document.getElementById('main_puzzle_input').setAttribute('lang', langcode);
		
		setText("expression_p", expression_p);
		if(EDITOR){
			setText("expression_e", expression_e);
		}
		else{
			hideEL("h4_editor");
			hideEL("expression_e");
		}
	}
}

window.addEventListener('load', onload_func_FAQ, false);

/* *********************************************************************** */

var captions_play = {
	pBCell : {
		ja:"クリックで黒マスや白マスを入力できます。",
		en:"Click to input shaded or unshaded cells.",
		variety:['ayeheya','box','chocona','creek','heyawake','hitori','kurochute','kurodoko','kurotto',
				 'lits','lookair','mochikoro','mochinyoro','norinori','nuribou','nurikabe',
				 'tasquare','tawa','yajikazu','tapa']},
	pBCellyaji : {
		ja:"左クリックで黒マスが入力できます。",
		en:"Left click to input shaded cells.",
		variety:['yajirin']},
	pBTile : {
		ja:"クリックで黒タイルや白タイルを入力できます。",
		en:"Click to input shaded or unshaded tiles.",
		variety:['paintarea','tilepaint','nurimaze']},
	pTriangle : {
		ja:"\"クリックした位置\"ではマス目の角のほうをクリックすることで三角形が入力できます。"
		  +"<br>\"引っ張り入力\"では斜め4方向にドラッグして三角形を入力できます。",
		variety:['shakashaka']},
	//----------------------------------------------------------------
	pLine : {
		ja:"左ドラッグで線が入力できます。",
		en:"Left button drag to input lines.",
		variety:['brans','firefly','hashikake','icebarn','icelom','icelom2','ichimaga','ichimagam','ichimagax',
				 'kusabi','loopsp','mashu','mejilink','numlin','pipelink','pipelinkr',
				 'reflect','slalom','slither','wblink','ringring','nagare','bag','slither',
				 'country','nagenawa','yajirin']},
	pLineMove : {
		ja:"左ドラッグで線を引くかオブジェクトを動かすことができます。",
		en:"Left button drag to move objects or input lines.",
		variety:['bonsan','heyabon','rectslider','kaero','herugolf','yosenabe']},
	pLineSegment : {
		ja:"マウスのボタンを押しながら動かすことで、2点間に線を入力したり消したりできます。",
		en:"Left button drag to input or erase segments between the points.",
		variety:['kouchoku']},
	pBorder : {
		ja:"左ドラッグで境界線が入力できます。",
		en:"Left button drag to input border lines.",
		variety:['aho','bdblock','cbblock','fillmat','fillomino','fivecells','fourcells','kramma','kramman',
				 'loute','nawabari','sashigane','shikaku','shwolf','tatamibari','tateyoko','tentaisho',
				 'triplace','usotatami','yajitatami']},
	pBar : {
		ja:"マウスの左ボタンクリックやドラッグで線が入力できます。",
		en:"Left button drag or click to input bars.",
		variety:['amibo','tateyoko','juosan']},
	//----------------------------------------------------------------
	pLineAux : {
		ja:"境界線上を右クリックすると×印が入力できます。",
		en:"Right click to input cross marks on border lines.",
		variety:['brans','firefly','hashikake','icebarn','icelom','icelom2','ichimaga','ichimagam','ichimagax',
				 'kusabi','loopsp','mashu','mejilink','numlin','pipelink','pipelinkr',
				 'reflect','slalom','slither','wblink','ringring','nagare','yajirin','herugolf','yosenabe']},
	pLineAuxDir : {
		ja:"クリックや右クリックしたままマウスを動かして方向の補助記号を入力することができます。",
		en:"Click or drag right mouse button to input auxiliary direction marks.",
		variety:['nagare']},
	pBorderAux : {
		ja:"右ドラッグで補助記号が入力できます。",
		en:"Right button drag to input auxiliary marks.",
		variety:['aho','bdblock','cbblock','fillmat','fillomino','fivecells','fourcells','kramma','kramman',
				 'loute','nawabari','sashigane','shikaku','shwolf','tatamibari','tateyoko','tentaisho',
				 'triplace','usotatami','yajitatami','amibo']},
	//----------------------------------------------------------------
	pLineBG : {
		ja:"右クリックでセルの背景色(緑/黄色)が入力できます。",
		en:"Right click to input background color (lime or yellow) of cells.",
		variety:['bag','slither']},
	pMoveLineBG : {
		ja:"セルのクリックで背景色が入力できます。",
		en:"Click cells to input background color of cells.",
		variety:['bonsan','heyabon','kaero']},
	pBorderBG : {
		ja:"セルのクリックか、Zキー押しながら背景色(2種類)を入力することもできます。",
		en:"Click center of the cells or click cells with pressing Z key to input background color.",
		variety:['triplace']},
	//----------------------------------------------------------------
	pNum : {
		ja:"キーボードやマウスで数字が入力できます。",
		en:"Click or press keys to input number.",
		variety:['bosanowa','cojun','factors','hanare','kakuro','kakuru','kazunori','makaro',
				 'minarism','renban','ripple','hebi','sudoku','sukoro,','sukororoom','view','kazunori']},
	pNumArrow : {
		ja:"クリックか、左ボタンを押したまま上下左右へ動かすか、キーボードの1～4キーか、"
		  +"Shiftキーを押しながら方向キーを入力することで矢印を入力できます。",
		en:"Click, mouse down on center of the cell and move, "
		  +"input arrow key with shift key or press 1 up to 4 key to input arrows,",
		variety:['roma','toichika']},
	pNumTriMark : {
		ja:"左クリックやキーボードの1～3キーで○△□の記号が入力できます。",
		en:"Left click or 1 to 3 key to input answers.",
		variety:['hakoiri']},
	pNumCopy : {
		ja:"マスの中央で左ボタンを押してから動かすことで、数字を隣のマスにコピーできます。",
		en:"Mouse down on the center of the cells and move to copy the number.",
		variety:['fillomino','nanro']},
	pNumCopyAndBorder : {
		ja:"Zキー、Xキー、Ctrlキーを押しながら矢印キーを入力することで、境界線の入力、補助記号の入力、数字のコピーを行うことができます。",
		en:"Press arrow keys with Z, X or Ctrl key to input border lines, auxiliary marks or copy numbers respectively.",
		variety:['fillomino']},
	pNumAux : {
		ja:"右クリックやQキーで補助記号が打てます。",
		en:"Right click or Q key to input auxiliary marks.",
		variety:['hebi']},
	pNumAux2 : {
		ja:"右クリックや5キーで補助記号が入力できます。",
		en:"Right click or 5 key to input auxiliary marks.",
		variety:['toichika']},
	pNumAuxTriMark : {
		ja:"右クリックや4キーで補助記号が入力できます。",
		en:"Right click or 4 key to input auxiliary marks.",
		variety:['hakoiri']},
	pNumAux_nanro : {
		ja:"右クリックしたままマウスを動かして×を入力することもできます。",
		en:"Right button drag to input x marks.",
		variety:['nanro']},
	pNumAuxMB : {
		ja:"セルのクリックやQAZキーで○、WSXキーで×を入力できます。",
		en:"Click cells, press Q, A or Z key to input auxiliary circles, W, S or X key to input auxiliary cross marks.",
		variety:['sukoro,','sukororoom','view']},
	pLineAuxMB : {
		ja:"セルのクリックで○×(補助記号)が入力できます。",
		en:"Click cells to input auxiliary circles or cross marks.",
		variety:['country','nagenawa','rectslider']},
	//----------------------------------------------------------------
	pSlash : {
		ja:"マウスで斜線を入力できます。",
		en:"Click to input slashes.",
		variety:['gokigen','wagiri']},
	pSlashMirror : {
		ja:"マウスで斜線や補助記号が入力できます。",
		en:"Click to input mirrors or auxiliary marks.",
		variety:['kinkonkan']},
	pLight : {
		ja:"マウスで光源と白マス確定マスが入力できます。",
		en:"Click to input Akari (Light source) or determined unshaded cells.",
		variety:['lightup']},
	pStone : {
		ja:"左クリックで○に順番を表す数字が、右クリックor押しっぱなしで元に戻せます。",
		en:"Left click to input number of the order, right click or holding pressing to undo.",
		variety:['goishi']},
	pFuton : {
		ja:"マウスの左ボタンドラッグで布団を入力できます。",
		en:"Left button drag to input Futons.",
		variety:['shugaku']},
	pAisle : {
		ja:"マウスの右ボタンで通路を入力できます。",
		en:"Right click and drag to input aisle.",
		variety:['shugaku']},
	pWBCircle : {
		ja:"マウスの左クリックやドラッグで風船や鉄球を入力できます。",
		en:"Left click or drag to input balloons or iron balls.",
		variety:['dosufuwa']},
	//----------------------------------------------------------------
	pBorderDraw : {
		ja:"星をクリックすると色がぬれます。",
		en:"Click star to paint the area.",
		variety:['tentaisho']},
	//----------------------------------------------------------------
	pInfoBCell : {
		ja:"Zキーを押しながら黒マスをクリックすることで繋がっている黒マスが表示されます。",
		en:"Click with Z key to display continuous shaded cells.",
		variety:['lits','nurikabe','paintarea']},
	pInfoBCellRB : {
		ja:"Zキーを押しながら黒マスをクリックすることで斜めに繋がっている黒マスが表示されます。",
		en:"Click with Z key to display continuous shaded cells which share the corner.",
		variety:['ayeheya','heyawake','hitori','kurodoko','yajikazu']},
	pInfoLine : {
		ja:"Zキーを押しながら線をクリックすると繋がっている線が表示されます。",
		en:"Click a line with Z key to display connected line.",
		variety:['barns','country','icebarn','icelom','icelom2','kusabi','loopsp',
				 'mashu','mejilink','nagenawa','numlin','pipelink','pipelinkr',
				 'reflect','ringring','slalom','slither','yajirin']},
	pInfoSlash : {
		ja:"Zキーを押しながら斜線をクリックすると繋がっている線が表示されます。",
		en:"Click a slash with Z key to display connected line.",
		variety:['gokigen','wagiri']},
	pInfoSlashLight: {
		ja:"外側をクリックすると光が発射されます。",
		en:"Click outside of the board to give off the light.",
		variety:['kinkonkan']},
	pInfoGate : {
		ja:"Xキーを押している間は、数字が旗門上に表示されます。",
		en:"While X key is pressed, the numbers are displayed on the gate.",
		variety:['slalom']},
	pInforoma : {
		ja:"Zキーを押しながら矢印をクリックするとその矢印に到達する・向かう先が表示されます。",
		en:"Click an arrow with Z key to display the road that passes it or the way.",
		variety:['roma']}
};

//-------------------------------------------------------------------------------
//-------------------------------------------------------------------------------

var captions_edit = {
	eBorder : {
		ja:"左ドラッグで境界線が入力できます。",
		en:"Left button drag to input border lines.",
		variety:['ayeheya','barns','heyabon','chocona','cojun','country','factors',
				 'hakoiri','hanare','heyawake','kaero','kinkonkan','lits','nagenawa',
				 'nanro','norinori','paintarea','renban','ripple','roma','shimaguni',
				 'sukororoom','tilepaint','toichika','yajitatami','makaro','nurimaze',
				 'juosan','kazunori','dosufuwa']},
	eBorderDot : {
		ja:"左ドラッグで点線が入力・消去できます。",
		en:"Left button drag to input or erase dotted lines.",
		variety:['cbblock','mejilink']},
	//----------------------------------------------------------------
	eNumber : {
		ja:"キーボードやマウスで数字が入力できます。",
		en:"Click or press keys to input numbers.",
		variety:['hanare']},
	eNumCell : {
		ja:"キーボードやマウスで数字が入力できます。",
		en:"Click or press keys to input numbers.",
		variety:['hanare','bdblock','bosanowa','box','cojun','fillmat','fillomino','fivecells','fourcells',
				 'hitori','icelom','icelom2','kakuru','kusabi','lookair','mochikoro','mochinyoro',
				 'nanro','nawabari','numlin','nuribou','nurikabe','paintarea','renban','ripple',
				 'slither','hebi','sudoku','sukoro','sukororoom','tateyoko','tawa','usotatami',
				 'view','yajikazu','yajirin','yajitatami','kazunori','tapa',
				 'amibo','lightup','shakashaka','makaro','rectslider']},
	eNumCircle : {
		ja:"キーボードやマウスで数字が入力できます。",
		en:"Click or press keys to input marks with number.",
		variety:['amibo','bonsan','heyabon','creek','firefly','gokigen','hashikake','ichimaga','ichimagam','ichimagax',
				 'kurochute','kurotto','loopsp','minarism','sashigane','shikaku','shimaguni',
				 'shugaku','tasquare','kurodoko','herugolf','kazunori']},
	eNumRoom : {
		ja:"キーボードやマウスで部屋に数字が入力できます。",
		en:"Click or press keys to input numbers to the room.",
		variety:['ayeheya','chocona','country','factors','heyawake','nagenawa','shimaguni','juosan']},
	eNumLetter : {
		ja:"キーボードやマウスで文字が入力できます。",
		en:"Click or press keys to input letters.",
		variety:['kouchoku','kaero']},
	eNumMark : {
		ja:"キーボードやマウスで記号が入力できます。",
		en:"Click or press keys to input marks.",
		variety:['hakoiri','tatamibari']},
	eNumArrow : {
		ja:"キーボードやマウスで矢印が入力できます。",
		en:"Click or press keys to input arrows.",
		variety:['roma','toichika']},
	eNumKanji : {
		ja:"キーボードやマウスで漢字が入力できます。",
		en:"Click or press keys to input kanjis.",
		variety:['kusabi','wagiri']},
	eNumOnShadedCell : {
		ja:"黒マスの上で数字キーを押すことで数字を入力できます。",
		en:"Press number keys on shaded cells to input numbers.",
		variety:['slalom']},
	eNumCross : {
		ja:"交点でクリックするか数字キーや-キーを押すことで数字や数字のない丸を入力できます。",
		en:"Press number keys or click on lattices to input numbers or non-numbered marks.",
		variety:['wagiri']},
	eNumKanji : {
		ja:"マス目でクリックするか12キーや-キーを押すことで漢字や?を入力できます。",
		en:"Press 1 or 2 key or click on cells to input kanjis or question marks.",
		variety:['wagiri']},
	pNumMark2 : {
		ja:"マウスのクリックやキーボードの1,2キー及びQ,Wキーでで○△の記号が入力でき、3キー及びEキーで削除できます。",
		en:"Click or press 1, 2, Q, W key to input marks, 3 or E key to erase marks.",
		variety:['nurimaze']},
	eNumCrock : {
		ja:"数字キーで数字を入力できます。鍋の上だと通常の数字に、鍋意外だと丸付き数字になります。"
		  +"<br>Qキーを押すことで、丸付きとない数字を入れ替えることが出来ます。"
		  +"<br>ただし、鍋以外の場所にある○なし数字はエラーになります。",
		en:"Press number keys to input numbers. If input on crocks it will become normal number, otherwise number with circle."
		  +"<br>Q key to toggle normal numbers or numbers with circle."
		  +"<br>Note: number without circle out of crocks causes errors.",
		variety:['yosenabe']},
	
	eNumAux : {
		ja:"-キーで?を入力することができます。",
		en:"Press - key to input question marks.",
		variety:['hanare','bdblock','bosanowa','box','cojun','fillmat','fillomino','fivecells','fourcells',
				 'hitori','icelom','icelom2','kakuru','kusabi','lookair','mochikoro','mochinyoro',
				 'nanro','nawabari','numlin','nuribou','nurikabe','paintarea','renban','ripple',
				 'slither','hebi','sudoku','sukoro','sukororoom','tateyoko','tawa','usotatami',
				 'view','yajikazu','yajirin','yajitatami','kazunori','tapa','hakoiri','tatamibari',
				 'ayeheya','chocona','country','factors','heyawake','nagenawa','shimaguni','juosan',
				 'kaero','roma','toichika']},
	eNumCircleAux : {
		ja:"-キーで数字のない記号を入力することができます。",
		en:"Press - key to input marks without number.",
		variety:['amibo','bonsan','heyabon','creek','firefly','gokigen','hashikake','ichimaga','ichimagam','ichimagax',
				 'kurochute','kurotto','loopsp','minarism','sashigane','shikaku','shimaguni',
				 'shugaku','tasquare','kurodoko','herugolf','kazunori']},
	eNumKanjiAux : {
		ja:"-キーで漢字のない記号を入力することができます。",
		en:"Press - key to input marks without kanji.",
		variety:['kusabi','wagiri']},
	eNumBCell : {
		ja:"-キーで黒マスを入力することができます。",
		en:"Press - key to input shaded cells.",
		variety:['amibo','lightup','shakashaka','makaro','rectslider']},
	eNumPoint : {
		ja:"-キーで黒点を入力することができます。",
		en:"Press - key to input black points.",
		variety:['kouchoku']},
	
	eNumLetterLowerCase : {
		ja:"同じ文字を押すことで小文字を入力することができます。",
		en:"Press same key twice to be able to input lower case letter.",
		variety:['kaero']},
	eNumLetterEx : {
		ja:"外側のアルファベットは、同じキーを何回か押して大文字小文字／色違いの計4種類を入力できます。",
		en:"Pressing the same key changes outside alphabets to four type that is either capital or lower, either black or blue color.",
		variety:['kinkonkan']},
	//----------------------------------------------------------------
	eArrow : {
		ja:"クリックか、左ボタンを押したまま上下左右へ動かすか、キーボードの1～4キーか、"
		  +"Shiftキーを押しながら方向キーを入力することで矢印を入力できます。",
		en:"Click, left button drag from the center of the cell, "
		  +"input arrow keys with shift key or press 1 to 4 keys to input arrows.",
		variety:['loute','sashigane']},
	eArrowNum1 : {
		ja:"矢印は、マウスの左ドラッグか、SHIFTキーを押しながら矢印キーで入力できます。",
		en:"Left button drag or press arrow keys with shift key to input arrows.",
		variety:['hebi','yajikazu','yajirin','yajitatami','slalom','makaro','nagare']},
	eArrowNum2 : {
		ja:"黒点は、マウスの左ドラッグか、SHIFTキーを押しながら矢印キーで入力できます。",
		en:"Left button drag or press arrow keys with shift key to input black points.",
		variety:['firefly']},
	eIceArrow : {
		ja:"左ドラッグで矢印が入力できます。",
		en:"Left button drag to input arrows.",
		variety:['icebarn']},
	//----------------------------------------------------------------
	eShadedCell : {
		ja:"黒マスはマウスのクリックで入力できます。",
		en:"Click to input shaded cells.",
		variety:['ringring','dosufuwa','nagare']},
	eShadedCell2 : {
		ja:"黒マスはQキーで入力できます。",
		en:"Press Q key to toggle shaded cells.",
		variety:['tateyoko']},
	eShadedCell3 : {
		ja:"黒マスはQキーかマウスの左クリックで入力、Rキーで消去できます。",
		en:"Q key or left click to input shaded cells and R key to erase.",
		variety:['slalom']},
	eShadedCell4 : {
		ja:"黒マスはQキーかWキーかマウスの左クリックで入力できます。",
		en:"Q key, W key or left click to input shaded cells.",
		variety:['nagare']},
	//----------------------------------------------------------------
	eIceArea : {
		ja:"右クリックで氷が入力できます。",
		en:"Right click or drag to input ice.",
		variety:['icebarn','barns']},
	eIceArea2 : {
		ja:"右クリックかQキーで氷が入力できます。",
		en:"Right click, drag or Q key to input ice.",
		variety:['icelom','icelom2']},
	eIceMark : {
		ja:"1キーで記号か氷を入力できます。",
		en:"Press '1' key to input circles or ice.",
		variety:['pipelinkr']},
	eWaterHazaad : {
		ja:"右クリックかQキーでウォーターハザードが入力できます。",
		en:"Right click, drag or Q key to input water hazaad areas.",
		variety:['herugolf']},
	eCrock : {
		ja:"右クリックかWキーで鍋となる領域が入力できます。",
		en:"Right click or W key to input crock areas.",
		variety:['yosenabe']},
	//----------------------------------------------------------------
	eValidCell : {
		ja:"Wキーで数字を入力するマス/しないマスの切り替えが出来ます。",
		en:"W key toggles valid cells.",
		variety:['bosanowa']},
	eValidCell2 : {
		ja:"Wキーで盤面に含まれるマスか否かの切り替えができます。",
		en:"W key toggles valid cells.",
		variety:['fivecells']},
	eValidStone : {
		ja:"クリックで碁石が入力できます。",
		en:"Click to input stones.",
		variety:['goishi']},
	//----------------------------------------------------------------
	eShirokuro1: {
		ja:"クリックで白丸・黒丸および?を入力できます。",
		en:"Click to input black circles, white circles or question marks.",
		variety:['kramma','kramman','mashu','wblink']},
	eShirokuro2: {
		ja:"クリックでやぎ・おおかみおよび?を入力できます。",
		en:"Click to input goats, wolves or question marks.",
		variety:['shwolf']},
	eCrossMark : {
		ja:"交点をクリックすることで黒点が入力できます。",
		en:"Click to input black points.",
		variety:['bdblock','kramman','shwolf']},
	eQues51 : {
		ja:"Qキーや左クリックでブロックが入力できます。数字を入力する場所はSHIFTキーを押すと切り替えられます。",
		en:"Q key or left click to input blocks. Press shift key to change the side of inputting numbers.",
		variety:['kakuro','tilepaint','triplace']},
	eLineMark : {
		ja:"問題の記号はQWEASDFの各キーで入力できます。Rキーや-キーで消去できます。",
		en:"Press each QWEASDF key to input question marks. Press R key or - key to erase.",
		variety:['pipelink','pipelinkr','loopsp']},
	eTriangle : {
		ja:"問題の三角形はQWEASの各キーで入力できます。Tキーや-キーで消去できます。",
		en:"Press each QWEAS key to input triangles. Press T key or - key to erase.",
		variety:['reflect']},
	eStar : {
		ja:"クリックで星が入力できます。",
		en:"Click to input stars.",
		variety:['tentaisho']},
	eCircleArrow : {
		ja:"マウスや5キーで○が入力できます。",
		en:"Press 5 key or click to input circles.",
		variety:['loute']},
	eIneqMark : {
		ja:"QWキーあるいはマウスのドラッグで不等号が入力できます。",
		en:"Q, W key or drag to input inequality marks.",
		variety:['minarism']},
	eHole : {
		ja:"マウスのクリックかHキーでホールを入力することができます。",
		en:"Click or H key to input golf holes.",
		variety:['herugolf']},
	eGate : {
		ja:"旗門はマウスのドラッグかWEキーで入力できます。",
		en:"W, E key or Drag to input gates.",
		variety:['slalom']},
	//----------------------------------------------------------------
	eInOut : {
		ja:"外枠上を左ドラッグするとIN/OUTが入力できます。",
		en:"Left button drag across the chassis to input IN/OUT.",
		variety:['icelom','icelom2']},
	eStartpos : {
		ja:"○はSキーか、マウスドラッグで移動出来ます。",
		en:"S key or Left Button Drag to move the circle.",
		variety:['slalom']},
	eStartGoal : {
		ja:"Start, Goalはマウスドラッグで移動でき、それぞれSキー、Gキーでも移動できます。",
		en:"Left button drag to move start or goal and S key and G key will do respectively.",
		variety:['nurimaze']},
	//----------------------------------------------------------------
	ePicture : {
		ja:"マウスの右ボタンで下絵を描くことが出来ます。",
		en:"Right click and drag to paint a draft design.",
		variety:['tentaisho','tilepaint']},
	ePicture2 : {
		ja:"この背景色は「星をクリック」や「色をつける」ボタンで上書きされます。",
		en:"This background color is overwritten by clicking star or pressing 'Color up' button.",
		variety:['tentaisho']},
	//----------------------------------------------------------------
	eReduce1 : {
		ja:"URL生成時、数字のない部分は自動的にカットされます。",
		en:"The area with no numbers or circles will be reduced when URLs are exported.",
		variety:['bosanowa']},
	eReduce2 : {
		ja:"URL生成時、碁石のない部分は自動的にカットされます。",
		en:"The area with no numbers or stones will be reduced when URLs are exported.",
		variety:['goishi']}
};
</script>
</HTML>
